export(elemental_index, as_index, is_index, is_aggregate_index, is_chain_index,
       price_relative,
       aggregation_structure, expand_classification,
       carry_forward, shadow_price,
       contrib, chain, unchain, rebase)

S3method("[", ind)
S3method("[<-", ind)
S3method(levels, ind)
S3method(time, ind)
S3method(start, ind)
S3method(end, ind)
S3method(head, ind)
S3method(tail, ind)
S3method(as.data.frame, ind)
S3method(as.matrix, ind)
S3method(as.double, ind)
S3method(merge, agg_ind)
S3method(merge, ind)
S3method(stack, agg_ind)
S3method(stack, ind)
S3method(unstack, ind)
S3method(print, ind)
S3method(summary, ind)
S3method(print, ind_summary)
S3method(aggregate, ind)
S3method(mean, ind)
S3method(vcov, agg_ind)

S3method(elemental_index, default)
S3method(elemental_index, numeric)

S3method(as_index, default)
S3method(as_index, matrix)
S3method(as_index, ind)

S3method(contrib, ind)

S3method(chain, default)
S3method(chain, ind)
S3method(unchain, default)
S3method(unchain, ind)
S3method(rebase, default)
S3method(rebase, ind)
S3method(cumprod, ind)

S3method(print, pias)
S3method(weights, pias)
S3method(levels, pias)
S3method(update, pias)

importFrom(stats, aggregate, weights, update, time, start, end)

importFrom(utils, stack, unstack, head, tail)

importFrom(parallel, mclapply, makeCluster, parLapply, stopCluster)

importFrom(gpindex, generalized_mean, factor_weights, contributions, 
           transmute_weights, scale_weights, back_price, nested_mean, nested_contributions)