export(elemental_index,
       as_index, is_index, is_aggregate_index, is_chainable_index, is_direct_index,
       price_relative,
       aggregation_structure, expand_classification,
       as_aggregation_structure, is_aggregation_structure,
       carry_forward, shadow_price,
       contrib, chain, unchain, rebase, 
       "weights<-", "time<-")

S3method("[", aggregate_piar_index)
S3method("[", piar_index)
S3method("[<-", aggregate_piar_index)
S3method("[<-", piar_index)
S3method(head, piar_index)
S3method(tail, piar_index)

S3method(levels, piar_index)
S3method("levels<-", piar_index)
S3method("levels<-", aggregate_piar_index)
S3method(time, piar_index)
S3method("time<-", piar_index)
S3method(start, piar_index)
S3method(end, piar_index)

S3method(as.data.frame, piar_index)
S3method(as.matrix, piar_index)
S3method(as.double, piar_index)

S3method(merge, aggregate_piar_index)
S3method(merge, chainable_piar_index)
S3method(merge, direct_piar_index)
S3method(merge, piar_index)

S3method(stack, aggregate_piar_index)
S3method(stack, chainable_piar_index)
S3method(stack, direct_piar_index)
S3method(stack, piar_index)
S3method(unstack, piar_index)

S3method(print, piar_index)
S3method(summary, piar_index)
S3method(print, piar_index_summary)
S3method(str, piar_index)

S3method(aggregate, chainable_piar_index)
S3method(aggregate, direct_piar_index)
S3method(aggregate, piar_index)
S3method(mean, piar_index)

S3method(vcov, aggregate_piar_index)

S3method(elemental_index, default)
S3method(elemental_index, numeric)

S3method(as_index, default)
S3method(as_index, matrix)
S3method(as_index, data.frame)
S3method(as_index, chainable_piar_index)
S3method(as_index, direct_piar_index)

S3method(contrib, piar_index)

S3method(chain, default)
S3method(chain, aggregate_piar_index)
S3method(chain, chainable_piar_index)
S3method(chain, direct_piar_index)
S3method(unchain, default)
S3method(unchain, aggregate_piar_index)
S3method(unchain, chainable_piar_index)
S3method(unchain, direct_piar_index)
S3method(rebase, default)
S3method(rebase, chainable_piar_index)
S3method(rebase, direct_piar_index)

S3method(as_aggregation_structure, default)
S3method(as_aggregation_structure, data.frame)
S3method(as_aggregation_structure, matrix)
S3method(as_aggregation_structure, aggregate_piar_index)
S3method(as_aggregation_structure, piar_aggregation_structure)

S3method(print, piar_aggregation_structure)
S3method(str, piar_aggregation_structure)

S3method(weights, piar_aggregation_structure)
S3method("weights<-", piar_aggregation_structure)
S3method(levels, piar_aggregation_structure)
S3method("levels<-", piar_aggregation_structure)

S3method(update, piar_aggregation_structure)

S3method(as.matrix, piar_aggregation_structure)
S3method(as.data.frame, piar_aggregation_structure)
S3method(as.list, piar_aggregation_structure)

importFrom(stats, aggregate, weights, update, time, start, end)

importFrom(utils, stack, unstack, head, tail, str)

importFrom(gpindex, generalized_mean, factor_weights, contributions, 
           transmute_weights, scale_weights, back_period)